<!doctype html>
<html>
  <head>

    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel = "stylesheet" href = "../css/style.css" />

    <!-- SCRIPTS -->
    <script src = "view/js/script.js"></script>

    <!-- TITLE -->
    <title>Audioboek</title>

    <style>
      body {
        background-image: url("../assets/achtergrond.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>

  </head>

  <body>
    <div class='wrapper'>
      <div class='movie'>
        BEDANKT VOOR HET LUISTEREN</div>

      <div class='job'>
        BEGELEIDERS</div>

      <div class='name'>
        HILCO VAN DE KRAATS</div>
      <div class='name'>
        HANNEKE KOOL</div>
      <div class='name'>
        DEMI PLATTE</div>
      <div class='name'>
        ANNEMIEKE VAN SOEST</div>

      <!-- ========================================== -->

      <div class='job'>
        LEZERS</div>

      <div class='name'>
        IKRAM BOUCHAAB</div>

      <div class='name'>
        WISSAL EL BARGHOUTI</div>

      <div class='name'>
        MELISSA NAHUMURY</div>

      <div class='name'>
        Jelte van Garderen</div>

      <div class='name'>
        SIRADIE JAGGOE</div>

      <div class='name'>
        MILLA RAJMAN</div>

      <div class='name'>
        BIANCA VAN HAAFTEN</div>

      <div class='name'>
        ISA VAN DER SCHAFT</div>

      <div class='name'>
        SAM DAMS</div>

      <div class='name'>
        ELINE VAN VOORTHUIJSEN</div>

      <div class='name'>
        DJAYDEN NIJMEIJER</div>

      <div class='name'>
        RAVI VAN DEN BROEK</div>

      <div class='name'>
        KLAUDIA DOST</div>

      <div class='name'>
        VERONIQUE VAN DER MOLEN</div>

      <div class='name'>
        MELANY VAN DER VELDEN</div>

      <div class='name'>
        NEREA GIETMAN</div>

      <div class='name'>
        EMMA GUITJENS</div>

      <div class='name'>
        QUINCY WOUTERSE</div>

      <div class='name'>
        IMKE SCHLEGEL</div>

      <div class='name'>
        WENDY TEIJGELER</div>

      <div class='name'>
        KARLIJN DE JONG</div>

      <div class='name'>
        WILLIAM DE KOE</div>

      <div class='name'>
        DONNA VAN VUREN</div>

      <div class='name'>
        DEBORAH STAM</div>

      <!-- ========================================== -->

      <div class='job'>
        DIGITALISATIE DOOR</div>

      <div class='name'>
        BAM4A21</div>

      <!-- ========================================== -->

      <div class='job'>
        FOTOGRAAF</div>

      <div class='name'>
        BAS VAN CLEEF</div>

      <!-- ========================================== -->

      <div class='job'>
        DEMI PLATTE
      </div>
      <div class='name'>
        BOA4A21</div>
    </div>

  </body>
</html>