<!doctype html>
<html>
    <head>

        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel = "stylesheet" href = "../css/style.css" />
        <link rel = "stylesheet" href = "../css/animations.css" />

        <!-- SCRIPTS -->
        <script src = "view/js/script.js"></script>

        <!-- TITLE -->
        <title>Audioboek</title>

        <style>
            body {
                background-image: url("../assets/achtergrond.png");
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>

    </head>

    <body>

        <div class = "intro">
            <p class = "introTEXT">ER WAS EENS...</p>
            <p class = "introTEXT">EEN INTERACTIEF LUISTERBOEK</p>
            <p class = "introTEXT">GEMAAKT DOOR MBO-STUDENTEN <br> VAN ROC RIVOR</p>
            <p class = "introTEXT">ZO WERKT HET</p>
            <p class = "start"><a class = "start" href = "http://localhost/scripts/Audioboek_V2/?id=0">START</a></p>
        </div>

        <!-- Skip -->
        <div class = "skipIcon">
            <a class = "skipButton" href = "http://localhost/scripts/Audioboek_V2/?id=0"><svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-skip-forward-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.271 5.055a.5.5 0 0 1 .52.038L7.5 7.028V5.5a.5.5 0 0 1 .79-.407L11 7.028V5.5a.5.5 0 0 1 1 0v5a.5.5 0 0 1-1 0V8.972l-2.71 1.935a.5.5 0 0 1-.79-.407V8.972l-2.71 1.935A.5.5 0 0 1 4 10.5v-5a.5.5 0 0 1 .271-.445z"/>
            </svg></a>
        </div>

    </body>
</html>