<!doctype html>
<html>
    <head>

        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel = "stylesheet" href = "../css/style.css" />

        <!-- SCRIPTS -->
        <script src = "view/js/script.js"></script>

        <!-- TITLE -->
        <title>Audioboek</title>

        <style>
            body {
                background-image: url("../assets/achtergrond.png");
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>

    </head>

    <body>
        <div class = "container1">
            <img src = "../assets/titel.png" width="900" height="650"/>
        </div>

        <div class = "startIMG2">
            <img src = "../images/chapters/afbeeldingHoofdstuk1.png" width="1000" height="800" />
        </div>

        <div class = "textP1">
            <p> EEN INTERACTIEF LUISTERBOEK </p>
        </div>

        <div class = "startText">
            <p><a href = "intro.html">START</a></p>
        </div>
    </body>
</html>